/* Your custom css code goes here */

@media screen and (max-width: 1500px) {
    .probootstrap-page-wrapper {
        max-width: 1265px;
    }

    .probootstrap-page-wrapper .container {
        max-width: 1000px;
    }
}

.multiple {
    background-color: rgb(219, 161, 14);
}

.probootstrap-header-top {
    background-color: rgb(219, 161, 14);
}

.probootstrap-hero.probootstrap-hero-colored {
    background: #030361;
}

.probootstrap-showcase-nav ul li.active>a {
    color: #030361;
    padding-left: 0px;
    display: block;
}

.probootstrap-section.probootstrap-section-colored {
    background: #030361;
}

.probootstrap-cta {
    padding: 3em 0;
    background: #030361;
    color: #ffffff;
}

.probootstrap-bg .container {
    padding-right: 0px;
    padding-left: 67px;
    margin-right: 4px;
    margin-left: auto
}

.probootstrap-navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* Ensure the navigation bar is above other content  */
}


/* footer */
.probootstrap-footer {
    
    padding: 17px 0px;
    padding-bottom: 0;
    background: #000000;
    color: rgba(255, 255, 255, 0.9);
}