/* Your custom css code goes here */

*{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;

}

@media screen and (max-width: 2000px) {
    .probootstrap-page-wrapper {
        max-width: 2000px;
    }

    .probootstrap-page-wrapper .container {
        max-width: 1000px;
    }
}

.multiple {
    background-color: rgb(219, 161, 14);
}

/* header */

/* probootstrap-top-quick-contact-info {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7em;
    font-size: 14px;
} */

#navbar-collapse li a:hover{
    color:rgb(219, 161, 14);

}

#navbar-collapse ul li{
 font-weight: 600;
 font-size: 3rem;
}

.topnav{
    border-bottom:1px solid black;
}
.row {
    margin-right: -102px;
    margin-left: -90px;
}

.probootstrap-top-quick-contact-info {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.4rem;
}

.probootstrap-header-top {
    font-size: 1, 5rem;
    background-color: rgb(219, 161, 14);
    justify-content: space-evenly;
}

probootstrap-navbar {
    border: none;
    margin-left: 47px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 0px;
    background: #ffffff;
    -webkit-transition: .3s all;
    transition: .3s all;
}

.probootstrap-hero.probootstrap-hero-colored {
    background: #030361;
}

.probootstrap-showcase-nav ul li.active>a {
    color: #030361;
    padding-left: 0px;
    display: block;
}

.probootstrap-section.probootstrap-section-colored {
    background: #030361;
}

.probootstrap-cta {
    padding: 3em 0;
    background: #030361;
    color: #ffffff;
}

.probootstrap-bg .container {
    padding-right: 0px;
    padding-left: 67px;
    margin-right: 4px;
    margin-left: auto
}

.probootstrap-navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* Ensure the navigation bar is above other content  */
}


/* footer */
.probootstrap-footer {
    padding: 17px 0px;
    padding-bottom: 0;
    background: #000000;
    color: rgba(255, 255, 255, 0.9);
}

.probootstrap-bg .container {
    padding-right: 0px;
    padding-left: 30px;
    margin-right: 4px;
    margin-left: 130px;
    padding-top: 40px;
    padding-bottom: 0px;
}

.probootstrap-bg .col-md-5 {
    padding-left: 98px;
}

.probootstrap-bg .col-md-4 {
    padding-left: 76px;
}